<html>
	<head>
		<div style="text-align:center">
			<canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;"></canvas>
			<script src="{{url_for('static', filename='render.js')}}"></script>
			<!-- <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script> -->
		</div>
	</head>
	
	<body>
		<div style="text-align:center;">
			Enter number of levels: <input type="text" id="source">
			<br>
			<button id="find" onclick="graph()">find minimum path</button>
		</div>
		
	</body>

</html>